#map {
    height: 100vh;
}

.ol-zoom {
    top: auto !important;
    left: auto !important;
    bottom: 2rem !important;
    right: 0.5rem !important;
}

.ol-scale-line {
    top: auto !important;
    left: auto !important;
    right: 12rem !important;
    bottom: 0 !important;
}
/* .ol-zoom-extent {
    top: auto !important;
    left: auto !important;
    bottom: 10rem !important;
    right: 0.5rem !important;
} */

.ol-mouse-position {
    font-family: Roboto;
    font-size: 0.8rem;
    top: auto !important;
    left: auto !important;
    bottom: 0 !important;
    right: 22rem !important;
}

.ol-overlaycontainer-stopevent {
    /* padding-bottom: 2rem !important; */
}
.ol-overlaycontainer-stopevent > * {
    /* position: static !important; */
    flex-direction: column;
    /* padding-bottom: 3rem !important; */
    height: auto;
}