
.sidebar {
		height: 100%;
		width: 100%;
		background-color: #B7B7A2;
		overflow-y: auto;
		overflow-x: hidden;
}
	.sidebar .header {
		/* position: absolute; */
		width: 100%;
		/* z-index: 100; */
		display: flex;
		align-items: center;
		height: 3rem;
		background-color: #c8c8b7;
		box-shadow: 0px 5px 6px -6px #9b9b7d;
	}	
	.header .button--container {
		display: flex;
		align-items: center;
		height: 3rem;
		z-index: 1;
	}
		.header .button--overlay {
			position: absolute;
			top: 0;
			left: 0;
			height: 3rem;
			width: 3rem;
			background-color: #B7B7A2;
			opacity: 100%;
			z-index: 0;
			transition: translate 0.2s;
		}
		.header .button--overlay.panel_0 {
			translate: 0;
		}
		.header .button--overlay.panel_1 {
			translate: 3rem;
		}
		.header .button--container > button {
			height: 100%;
			width: 3rem;
			background-color: inherit;
			transition: filter 0.4s;

			.icon {
				height: 1.8rem;
				color: black;
			}
		}
		.header .button--container > button:hover {
			filter: brightness(92%);
			cursor: pointer;
		}
	.sidebar .panel--container {
		height: calc(100% - 3rem);
		display: grid;
		width: 200%;
		grid-template-columns: 1fr 1fr;
		transition: translate 0.2s ease-in-out;
		gap: 0;
	}
		.panel--container.panel_0 {
			translate: 0%;
		}
		.panel--container.panel_1 {
			translate: -50%;
		}
		.panel--container > .layers--panel,
		.panel--container > .activeLayers--panel {
			height: 100%;
			overflow-y: auto;
			/* padding-top: 1rem; */
			padding-left: 0.5rem; 
		}

		.sidebar .layer {
			height: 3.5rem;
			color: black;
			font-size: 0.9rem;
			display: grid;
			grid-template-rows: auto;
			padding-right: 1rem;
			padding-top: 0.3rem;
			transition: all 0.05s ease-in-out;
			overflow-y: hidden;

			button {
				margin: 0 0.2rem 0 0.2rem;
				padding: 10px;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 4px;
				height: 2rem;
				width: 2rem;
				background-color: inherit;
				border: none;
				cursor: pointer;
				transition: all 0.5s;
			} button:hover {
				filter: brightness(92%);
			}
			.view--icon, .zoom--icon {
				opacity: 50%;
			} .view--icon.active, .zoom--icon.active {
				opacity: 100%;
			}

			> .top, .bottom {
				padding-left: 1rem;
				display: flex;
				justify-content: space-between;
				align-items: center;
				height: 3.5rem;  
				background-color: #B7B7A2;

				> .type--title--container {
					display: flex;
					align-items: center;
					overflow: hidden;
					text-overflow: ellipsis;
					text-align: start;

					> .icon {
						flex-shrink: 0;
						height: 1.5rem;
						margin-right: 0.6rem;  
					}
				}
				> .icon--container {
					display: flex;
					flex-shrink: 0;
					background-color: inherit;

                    } 
				}
			} .sidebar .layer:hover {
				filter: brightness(94%);
			}
		.sidebar .layer.active {
			height: 7rem;
		}
        .layer button > img {
            height: 1.5rem;
        }


	.sidebar--layer--view--icon {
		opacity: 50%;
	}
	.sidebar--layer--view--icon--active {
		height: 1.5rem;
	}
.sidebar--zoom-button{
	opacity: 50%;
	cursor: not-allowed !important; 
}
.sidebar--zoom-button:hover {
	filter: brightness(100%) !important;
}
	.sidebar--zoom-button--active{
		opacity: 100%;
	}
.sidebar--zoom-icon {
	height: 1.5rem;
}
.sidebar--layer--bottom {
	height: 5rem;
	background-color: gray;
	padding-top: 1rem;
}
